.App{
  /* width: 90%; */
  margin: auto;

}
header{
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  font-size: 20px;
  background-color: #343434;
  color: #eee;
}
button.hamburg{
  display: block;
  margin: 0 20px;
  width: 30px;
  height: 100%;
  background-color: transparent;
  border: none;
}
.hamburg.d-none{
  display: none;
}
div.hamburger{
  display: block;
  border-radius: 2px;
  height: 4px;
  width: 30px;
  background-color: #eee;
}
div.hamburger::before{
  margin-top: -8px;
  position: absolute;
  left: 0;
  content: '';
  height: 4px;
  width: 30px;
  background-color: #eee;
  border-radius: 2px;
}
div.hamburger::after{
  margin-top: 8px;
  position: absolute;
  left: 0;
  content: '';
  height: 4px;
  width: 30px;
  background-color: #eee;
  border-radius: 2px;
}
nav{
  padding: 0 10px;
  /* justify-content: space-between; */
  height: 100%;
  align-items: center;
  display: flex;
}
nav .lists{
  justify-content: space-between;
  margin: auto;
  flex-grow: 2;
  max-width: 75%;
  display: flex;
}
nav .lists ul{
  align-items: center;
  display: flex;
  list-style: none;
}
nav .lists ul li{
  margin: 0 10px;
}
nav .lists ul li a{
  text-decoration: none;
  color:white
}
.heading{
  background: url(../public/galaxy-s23-ultra-highlights-kv.png) no-repeat center top;
  background-size: cover;
  height: 700px;
  display: flex;
  align-items: center;
}
.heading h1{
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  color: white;
  font-size: 80px;
}
.description{
  padding: 20px;
  text-align: center;
}
.description p{
  margin: 10px 0;
  font-size: 22px;
}
hr{
  margin: 50px 0 0px;
  color: black;
}
h2{
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
}
.cards{
  
  display: flex;
  justify-content: space-around;
  margin: 20px 10px;
}
.card{
  height: fit-content;
  perspective: 1500px;
  /* height: 700px; */
 position: relative;
  /* display: flex; */
  margin-bottom:30px;
  width: 30%;
  padding: 10px;
  border-radius: 7px;
}
.flip{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card .front{
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* position: absolute; */
  
}
.card.flipp .flip{
  transform: rotateY(180deg);
}

.card .back{
  left: 0;
  right: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateY(180deg);
}
.card:hover{
  box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.45),
25px 0px 20px -20px rgba(0,0,0,0.45),
0px 25px 20px -20px rgba(0,0,0,0.45),
-25px 0px 20px -20px rgba(0,0,0,0.45);
  }
.card img{
  background-color: black;
  width: 100%;
  height: 400px;
  border-radius: 4px;
  object-fit: contain;
  
}
.card h3{
  font-size: 23px;
  font-weight: 500;
  margin: 30px 0 10px;
  text-align: center;
}
.card p{
  font-size: 18px;
  padding: 15px;
  margin: 0px 0px 20px;
  text-align: left;
}
.card a{
  text-decoration: none;
  right: 20px;
  position: absolute;
  bottom: 20px;
  float: right;
  text-align: center;
  width: 170px;
  height: 40px;
  padding: 10px;
  background-color: #343434;
  color: #eee;
  font: 15px;
  border: none;
  border-radius: 15px;
}

.colors{
  padding: 10px 0;
  color: #eee;
  background-color: #343434;
  text-align: center;
  align-items: center;
}
.colors h2{
  margin-top: 20px;
}
.color{
  margin-top: 30px;
  display: flex;
}
.color-block{
  width: 50%;
  padding: 20px;
}
.color-block.lt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color-block img{
  width: 90%;
}
.color-block.lt img{
  margin-top: 40px;
  width: 90%;
}
.color-block.lt h3{
  margin: 30px;
  font-size: 30px;
  font-weight: 400;
}
.colorname{
  margin: 40px auto;
  width: 200px;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.color-block a{
  text-decoration: none;
  right: 20px;
  /* position: absolute; */
  bottom: 20px;
  float: right;
  text-align: center;
  width: 170px;
  height: 40px;
  padding: 10px;
  color: #343434;
  background-color: #eee;
  font: 15px;
  border: none;
  border-radius: 15px;
}


.color-circles{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
}
.green{
background-color: rgb(95, 100, 90);
}
.phantomblack{
background-color: rgb(33, 30, 22);
}
.lavender{
background-color: #d4c7d9;
}
.white{
background-color: #f0eae0;
}


footer{
  background-color: #666;
 padding: 20px;
 display: flex;
 justify-content: space-around;
 font: 30px;
 color: #eee;

}
footer a{
  text-decoration: none;
  color: #eee;
}
table{
   
  border-spacing: 0;
  margin:30px auto 20px;
  width: 70%;
  border: 1px solid #333;
}
th{
  font-weight: 500;
  color: #eee;
  background-color: #343434;

}
td{
  background-color: #ccc;
}
th,td{
  border-bottom: 1px solid #444;
  padding: 10px;
  font-size: 14px;
}
tr:last-child > td{
  border: 0;
}
tr:last-child > th{
  border: 0;
}

.contact-us, .sign-up{
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(68, 68, 68, 0.805);
}
.form-div{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 700px;
  max-width: 95%;
  padding: 40px;
  background-color: #eee;
  height: 90%;
  border-radius: 5px;
}
.close-pop-up{
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}
.close-pop-up:hover{
  border: 1px solid #343434;
}
form{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input, form textarea{
  margin: 15px auto;
  padding: 10px 5px;
  width: 80%;
  border: none;
  border-radius: 3px;
}
form input:focus, form textarea:focus{
  outline:1px solid #343434;
}
form input[type=submit]{
  margin: 30px 0 0;
  align-self: center;
  width: 60%;
  background-color: #343434;
  color: #eee;
}
form input[type=submit]:hover{
  /* padding: 8px 5px; */
  /* border: 1px solid #343434; */
  color: #343434;
  background-color: #eee;
  background-image: radial-gradient(circle, transparent, #00000052);
}


@media screen and (max-width:2000px) {
  .heading{
   
    height: 600px;
  }
  .heading h1{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: white;
    font-size: 60px;
  }
  

  
}
@media screen and (max-width:1500px) {
  .heading{
    align-items: flex-end;
    height: 500px;
  }
  .heading h1{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: white;
    font-size: 50px;
  }
  /* .card{
    height: 650px;
  } */
  .card img{
    background-color: black;
    width: 100%;
    height: 250px;
    object-fit: contain;
    
  }
}
@media screen and (max-width:992px) {
  .card img{
    background-color: black;
    width: 100%;
    height: 200px;
    object-fit: contain;
    
    
  }
  .colors{
    padding-top: 40px;
  }
  .color{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .color-block{
    width: 100%;
    padding: 20px;
  }
}
@media screen and (max-width:900px) {
  .hamburg.d-none{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav{
    justify-content: space-between;
  }
  nav .lists{
    
    background-color: white;
    position: absolute;
    left: 0;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  nav .lists ul{
    width: 100%;
    flex-direction: column;
  }
  nav .lists ul li{
    text-align: center;
    margin: 10px auto;
    width: 100%;
    /* border-bottom: 1px solid #343434; */
  }
  nav .lists ul li a{
    color: #343434;
  }
  button.hamburg{
    /* margin-right: 30px; */
    width: 30px;
  }
  .show div.hamburger{
    border-radius: 2px;
    height: 4px;
    width: 30px;
    background-color: transparent;
  }
  .show div.hamburger::before{
    transform: rotate(403deg);
    transition: ease-in;
    margin-top: 0;
  }
  .show div.hamburger::after{
    transform: rotate(-45deg) ;
    transition: ease-in;
    margin-top: 0;
  }
}
@media screen and (max-width:768px) {
  .heading{
    align-items: flex-end;
    justify-content: center;
    height: 500px;
  }
  .heading h1{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: white;
    font-size: 50px;
  }
  .description{
    text-align: justify;
  }
  .cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 5px;
  }
  .card{
    /* display: flex; */
    /* margin: 20px 10px; */
    width: 95%;
    padding: 5px;
    /* border-radius: 40px; */
  }
  
  .card img{
    background-color: black;
    width: 100%;
    height: 500px;
    object-fit: contain;
    
  }
  table{
    width: 95%;
  }
  .form-div{
    
    padding: 40px 10px;
  }
  form input, form textarea{
    margin: 10px auto;
    padding: 10px 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
  }
}
@media screen and (max-width:500px) {
  .card img{
    height: 250px;
  }
}